.todoItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
}
.content {
	flex: 1;
}
.complete {
	text-decoration: line-through 2px black;
}
button {
	border: 1px solid;
	outline: none;
	background-color: inherit;
	padding: 3px 9px;
	border-radius: 5px;
	cursor: pointer;
	color: red;
	border-color: red;
	user-select: none;
}
